* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 20px;
}
main {
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
}

h4 {
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
}
p { 
    color: #333; 
    font-family: Arial, 
    sans-serif; 
}
th {
    background-color: #f2f2f2;
    color: #333;
    font-family: Arial, sans-serif;
    border: 1px solid black;
    padding: 10px;
}

tr {
    height: 165px;
}

tr.small {
    height: 60px
}

tr.quote {
    height: 240px;
}

p.profile-info {
    font-weight: bold;
    margin-bottom: 5px;
}

a {
    color: #0066cc;
    text-decoration: none;
    text-decoration: underline;
    display: block;
    background-color: #000080;
    text-align: center;
    padding: 10px;
}

blockquote {
    font-style: italic;
    color: #666;
    font-family: Arial, sans-serif;
}
h4 {
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
}

td {
    border: 1px solid black;
    padding: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

image-cell {
    background-image: url('HelloCello.jpg');
}

th.header-cell {
    background-color: #4b4bfc;
    color: black;
    text-align: center;
    padding: 10px;
}

a:link {
    color: #fffdfd;
}
a:visited {
    color: #45cafe;
}
